<%#= form_for @event,:url => { :controller => 'events', :action => 'update', :id => @event } do |f|%>
<%= form_for @event, :url => events_path do |f|%>                    

	<%= render :partial => "form", :locals => { :f => f } %>

	<p><%= f.submit "create" %></p>

<% end %>